name: Check

on:
  push:
    branches: ['main']
  pull_request:
  workflow_call:

jobs:
  check:
    runs-on: macos-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Check
        run: cd ./tests && ./gradlew :check
